{% extends 'base.html.twig' %}
{% block head %}

    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
        Billing
    {% endblock %}
</head>
{% endblock %}
{% block body %}
<body>
    <div class="container-fluid">
        <h1 style="margin-bottom: 20px; margin-top: 20px;">Create a new Invoic</h1>
        {{ form_start(form) }}
        <div class="form-check">
            <div class="row">
                <div class="col-md-4">{{ form_row(form.invoice_date,{'label':'Date of Billing '}) }}</div>
                <div class="col-md-4">{{ form_row(form.invoice_number,{'label':'Number of Bill '}) }}</div>
                <div class="col-md-4">{{ form_row(form.customer_ID,{'label':'ID of the Custumer '}) }}</div>

            </div>
        </div>
        <button type="submit" class="btn btn-success" style="margin-left: 570px; margin-top: 30px;">Save</button>

        {{ form_end(form) }}
    </div>
</body>
</html>
{% endblock %}
